			
			
			
			
  	 The paradigm of a lovesick student of Love.
					 
 And ever since I answered my Bridegroom's beckoning, when He bided me come; I mean the same One I once dreaded meeting for the guilt of my iniquities.

 But I finally did, on a faithful day gave my hands in Union with the Person that knows my all, and I became a lovesick bride.. Glory!

And oh! How it takes a great deal of virtues by making to learn His ways.

For, what a joy of His comfort.. and even greater joy whenever I lay aside all foster possessions screaming for my attention to pair with the One that has loved me for ages long, ever before I knew Him, and still profess His love to me each day and for all ages to come through His written messages.

So do I have to want more than the comfort He breezes, from behind my neck.. and oozing, gently into my hears.. and to my brains? 
Or the Life He breathes on me continually, through my heart that would not even open so perfectly but just ajar?
Oh for some more hours to spend in the closet with you my Lord!
Oh for some more oil of olive, that my lamps may burn continually in greater love You alone, my Saviour.
